.btn-new {
  width: 38px;
  height: 38px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #734c26;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 40px;
}

.btn-new:hover {
  color: #fac170;
}
