.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.category .color {
  display: inline-block;
  width: 20px;
  height: 10px;
  border-radius: 5px;
}

.category .name {
  color: #734c26;
  font-size: 12px;
  margin-left: 2px;
}

.category .selected {
  border: 1px solid #734c26;
  box-sizing: border-box;
}

.category .wrapper {
  margin: 0 2px;
  border-radius: 5px;
  padding: 2px;
  display: flex;
  align-items: center;
}
