.category {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category .color {
  display: inline-block;
  width: 20px;
  height: 10px;
  border-radius: 5px;
  margin-right: 1px;
}

.category .name {
  color: #734c26;
  margin-right: 5px;
}

.category .selected {
  border: 1px solid #734c26;
  border-radius: 5px;
}
