.header {
  width: 100%;
  height: 60px;
  background-color: #ebe6e0;
  color: #734c26;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-name {
  color: #734c26;
  font-size: 20px;
}

.header svg {
  height: 40px;
}
