@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Siemreap&display=swap");

body {
  height: 100vh;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-family: "Siemreap", sans-serif;
}

input,
textarea,
h1,
h2,
h3,
p,
span,
div {
  font-family: "Roboto", sans-serif;
  font-family: "Siemreap", sans-serif;
  line-height: 1;
}

#main {
  width: 320px;
  height: 568px;
  box-sizing: border-box;
  background-color: #fff;
  border: 5px solid #ebe6e0;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

#category {
  margin: 20px 0;
}

.container {
  padding: 0 20px;
}
