body {
  /* background-color: #EBE6E0; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  width: 320px;
  height: 568px;
  padding: 0 20px;
  box-sizing: border-box;
  /* background-color: red; */
  border: 1px solid #000;
  /* border-radius: 5px; */
  position: relative;
}
